/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilizar a TAG body */

body {
    background-color: rgb(197, 252, 252);
    width: 100vw;
    height: 100vh;
}

.content-header {

    width: 100%;
    height: 33%;
    background-color: rgb(130, 207, 207);

    display: flex;

    /* Alinhar na vertical */
    align-items: center;

    /* Alinhar na horizontal */
    justify-content: center;


}

/* Estilizar um elemento atraves da classe */

.banner-header {
    width: 90%;
    height: 75%;
    background-color: rgb(196, 255, 236);
    display: flex;
}


.hero-content--left{

    width: 20vw;
    height: 50vh;
    background-color:  rgb(178, 253, 229);
    align-items: center;
    
    
}

.hero-content--center{

    width: 20vw;
    height: 50vh;
    background-color:  rgb(178, 253, 229);
    
    
}

.hero-content--right{

    width: 20vw;
    height: 50vh;
    background-color:  rgb(178, 253, 229);
    
}