*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__bateria{
    height: 100vh;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.main__bateria--imagem{ 
    justify-content: center;
    align-items: center;

}

.main__imagem{
    height: 550px;
}

.main_bateria--tituloss{  
    text-align: left;
}

.main__bateria--titulo{
    color: #000;
    font-size: 60px;  
}

.sup__titulo{
    font-size: 20px;
}

.main_bateria--subtitulo{
    height: 10vh;
    width: 10vw;
    font-weight: 300;
    color: rgb(153, 209, 235);
}

.texto_tempo{
    display: flex;
}
.texto_sem-fio{
    height: 10vh;
    width: 30vw;
}
article{
    height: 15vh;
    width: 12vw;
}
