/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__container {
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container img {

    margin-top: 3%;
    margin-left: 10%;
    height: 700px;

}

.main__container--titulos {

    height: 60vh;
    justify-content: center ;
    text-align: left;
    align-items: center;

}

.main__container--titulo {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    align-items: center;
    
}


.main__container--subtitulo {

    font-family: "Calibri Light";
    color: rgb(138, 180, 248);
    font-size: 30px;
    font-weight: 300; /* deixa a letra mais fina*/

}

sup{

    font-size: 15px;
}

.informações-left{

    align-items: center;
    justify-content: center;
}