:root{

 --bg-img :#a1a1a1;

 --color-img-span : #5d5d5d;

 --color-description : #555;

 --bg-tranparente : transparent;
 --border-button: #777;
 --color-button:#333;

 --button-hover: #555;
 --color-hover: white;

 --font-family-description: "montserrat", sans-serif;
}